<!DOCTYPE html>
{% load static %}
<html>
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	<title>해파리 주간보고</title>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">		
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>
	<div id=logo>
		<img alt="로고" src="{% static '/logo.png' %}"/>
	</div>
	<div id="h1"><h1>해파리 주간보고</h1></div>
	
	<div id="map">
		<div class="map_img">
			<img src="{%static '/Korea-All.png' %}" alt="한반도"/>
			 <div id="map-in">
			</div>
	    </div>
	    <div id="map-in">
	    <table class="table table-striped table-hover text-center">
	        <thead>
	        <tr>
	            <td><B>  </B></td>
	            <td><B>노무라입깃해파리</B></td>
	            <td><B>보름달물해파리</B></td>
	            <td><B>기타 해파리</B></td>
	        </tr>
	        </thead>
	        <tbody>
			{% for candidate in candidates %}
				{% if candidate.rdate == request.GET.rdate %}
	        <tr>
	            <td>인천</td>
	            <td>{{candidate.nom_ratio_01}}</td>
	            <td>{{candidate.bor_ratio_01}}</td>
	            <td>{{candidate.etc_ratio_01}}</td>
			</tr>
			<tr>
				<td>경기</td>
	            <td>{{candidate.nom_ratio_02}}</td>
	            <td>{{candidate.bor_ratio_02}}</td>
	            <td>{{candidate.etc_ratio_02}}</td>
			</tr>
			<tr>
				<td>충남</td>
	            <td>{{candidate.nom_ratio_03}}</td>
	            <td>{{candidate.bor_ratio_03}}</td>
	            <td>{{candidate.etc_ratio_03}}</td>
	        </tr>
			<tr>
				<td>전북</td>
	            <td>{{candidate.nom_ratio_04}}</td>
	            <td>{{candidate.bor_ratio_04}}</td>
	            <td>{{candidate.etc_ratio_04}}</td>
			</tr>
			<tr>
				<td>전남</td>
	            <td>{{candidate.nom_ratio_05}}</td>
	            <td>{{candidate.bor_ratio_05}}</td>
	            <td>{{candidate.etc_ratio_05}}</td>
			</tr>
			<tr>
				<td>경남</td>
	            <td>{{candidate.nom_ratio_07}}</td>
	            <td>{{candidate.bor_ratio_07}}</td>
	            <td>{{candidate.etc_ratio_07}}</td>
			</tr>
			<tr>
				<td>부산</td>
	            <td>{{candidate.nom_ratio_08}}</td>
	            <td>{{candidate.bor_ratio_08}}</td>
	            <td>{{candidate.etc_ratio_08}}</td>
			</tr>
			<tr>
				<td>울산</td>
	            <td>{{candidate.nom_ratio_09}}</td>
	            <td>{{candidate.bor_ratio_09}}</td>
	            <td>{{candidate.etc_ratio_09}}</td>
			</tr>
			<tr>
				<td>경북</td>
	            <td>{{candidate.nom_ratio_10}}</td>
	            <td>{{candidate.bor_ratio_10}}</td>
	            <td>{{candidate.etc_ratio_10}}</td>
			</tr>
			<tr>
				<td>강원도</td>
	            <td>{{candidate.nom_ratio_11}}</td>
	            <td>{{candidate.bor_ratio_11}}</td>
	            <td>{{candidate.etc_ratio_11}}</td>
			</tr>
			<tr>
				<td>제주도</td>
	            <td>{{candidate.nom_ratio_12}}</td>
	            <td>{{candidate.bor_ratio_12}}</td>
	            <td>{{candidate.etc_ratio_12}}</td>
			</tr>
				{% endif %}
			 {% endfor %}
	        </tbody>
	    </table>
		</div>
	</div>
	<map name="map01" id="map01">
		<area shape="" coords="" href="" alt="">
	</map>

	<div class="container">
	    <table class="table table-striped table-hover text-center">
	        <thead>
	        <tr>
	            <td><B>번호</B></td>
	            <td><B>제목</B></td>
	            <td><B>기관</B></td>
	            <td><B>등록일</B></td>
	        </tr>
	        </thead>
	        <tbody>

	        <tr>
	            <td>1</td>
				<td><a href="{% url 'index' %}?rdate=2020.11.26 " >해파리 모니터링 주간보고 (2020년 11월26일)</a></td>
	            <td>기후변화연구과</td>
	            <td>2020.11.26</td>
	        </tr>
	        <tr>
	            <td>2</td>
	            <td><a href="{% url 'index' %}?rdate=2020.11.19">해파리 모니터링 주간보고 (2020년 11월19일)</a></td>
	            <td>기후변화연구과</td>
	            <td>2020.11.19</td>
	        </tr>
	        <tr>
	            <td>3</td>
	            <td><a href="{% url 'index' %}?rdate=2020.11.12">해파리 모니터링 주간보고 (2020년 11월12일)</a></td>
	            <td>기후변화연구과</td>
	            <td>2020.11.12</td>
	        </tr>
	        </tbody>
	    </table>
	</div>
</body>
</html>
		